[submodule "shop"]
	path = shop
	url = git@github.com:OctalMesh/OctalWeb-Shop.git
[submodule "socials"]
	path = socials
	url = git@github.com:OctalMesh/OctalWeb-Socials.git
[submodule "design"]
	path = design
	url = git@github.com:OctalMesh/OctalWeb-Design.git
